form {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #fff;
  text-shadow: 5px 5px 5px black;
  font-size: 35px;

  .form-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #inset {
    width: 30px; 
    height: 30px;
  }

}
.form-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  margin: 40px auto;
  max-width:inherit;
  padding: 0 15px;
  &__col {
    max-width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
