#result, #result2 {
    width: 80px;
    height:80px;
    background-color: $range-slider;
    margin: 0 auto;
    margin-bottom: 40px;
}
#result2 {
    font-size: 40px;
    margin-bottom: 20px;
    background-color: transparent;
}